<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<!-- 系统配置 -->
		<typeAlias type="com.neo.sys.entity.BaseBean" alias="BaseBean"/>
		<typeAlias type="com.neo.sys.entity.bean.Menu" alias="Menu"/>
		<typeAlias type="com.neo.sys.entity.bean.MenuRole" alias="MenuRole"/>
		<typeAlias type="com.neo.sys.entity.bean.Code" alias="Code"/>
		<typeAlias type="com.neo.sys.entity.bean.SysFile" alias="SysFile"/>
		<typeAlias type="com.neo.sys.entity.bean.CodeValue" alias="CodeValue"/>
		<typeAlias type="com.neo.sys.entity.bean.Sequence" alias="Sequence"/>
		
		<!-- 业务配置 -->
		<typeAlias type="com.neo.entity.Edu_news" alias="EduNews"/>
		<typeAlias type="com.neo.entity.Sys_user" alias="User"/>
		<typeAlias type="com.neo.entity.Sys_office" alias="Office"/>


	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.neo.sys.utils.PageHelper"></plugin>
	</plugins>
</configuration>